<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WebProject</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.controller.servlets.ServletOne</servlet-class>
		<init-param>
			<param-name>admin</param-name>
			<param-value>SUNIL KUMAR</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Servlettwo</servlet-name>
		<servlet-class>com.controller.servlets.ServletTwo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Servletthree</servlet-name>
		<servlet-class>com.controller.servlets.ServletThree</servlet-class>
	</servlet>
	
	
	
	
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/firstservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlettwo</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servletthree</servlet-name>
		<url-pattern>/servlet3</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>company</param-name>
		<param-value>BridgeLabz</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>